<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/r/place</title>
    <link rel="stylesheet" type="text/css" href="/css/place.css">
</head>
<body>
<div id="container">
    <canvas id="board" oncontextmenu="return false;"></canvas>
    <div id="overlayShade"></div>
    <div id="inputBox">
        <span id="status">Connecting...</span>
        <input type="text" id="inputName" disabled="disabled" title="name"/>
        <button id="submitName" type="submit" disabled="disabled" title="name"> Choose Name</button>
    </div>
    <div id="bottomPanel">

        <div id="colorPicker"></div>

        <div id="cursorPosition">
            <span class="position" id="mousePos"></span>
            <span class="position" id="mousePixelPos"></span>
        </div>
    </div>
</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>-->
<script src="/js/socket.io.js"></script>
<script src="/js/place.js"></script>
</body>
</html>