<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/r/place</title>
</head>
<body>

<div id="content">

        <canvas id="board"></canvas>

</div>
<div>
    <span id="status">Connecting...</span>
    <input type="text" id="input" disabled="disabled"  title="name"/>
    <button id="submitName" type="submit" disabled="disabled" title="name" > Choose Name</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

<script src="/js/place.js"></script>
</body>
</html>